@charset "utf-8";

$base-font-family: "LINE Seed JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
$headings-font-family: "LINE Seed JP", sans-serif;

@import
  "minima-reboot/layout",
  "minima-reboot/syntax-highlighting"
;
