---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main aria-label="Content">
      <div id="content-container" class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

  <!-- トップへ戻るボタン -->
  <a href="#" id="page-top">SCROLL</a>

  <!-- fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP">

</html>
